@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

.main-container {
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  min-height: 100vh;
  background-color: black;
  background: no-repeat center url('./assets/home_background.avif');
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}



